.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}
.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #c4c7c5;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}
.main-container {
    max-width: 900px;
    margin: auto;
    
}
.greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2A2C2F;
    padding: 10px 20px;
    border-radius: 50px;
    color: #f6f7f8;
}
.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color: #f6f7f8;
}
.search-box div {
    display: flex;
    gap: 15px;
    background: transparent;
    color: #ffffff;
}

.search-box img {
    width: 24px;
    cursor: pointer;
    color: beige;
    background: #ffffff;
    mix-blend-mode: multiply;
    
   
}
.bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    border: none;
}
.result {
    padding: 0% 5%;
    max-height: 70vh;
    overflow-y: scroll;
    color: #ffffff;
}
.result::-webkit-scrollbar{
    display:none;
}
.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img {
    width: 40px;
    border-radius: 50%;
}
.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

 
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  margin-top: 80%;
  margin-left: 240%;
  width: 120px;
  height: 120px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}
@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 140px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}

.bottom-info{
font-size: small;
color: #2A2C2F;
}